.menu{
  margin-right: 35px;
  flex-shrink: 1;
  max-width: 272px;
  width: 100%;
  display: none;
}
.mobileMenu{
  display: flex;
  flex-direction: column;
  background-color: var(--purple);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 45px;
}

.mobileTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  word-wrap: normal;
  padding: 8px;
}

.mobileOpen{
  display: flex;
  justify-content: end;
}

.mobileOpenBar{
  display: none;
  justify-content: end;
  height: 44px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 500;
  text-align: end;
  align-items: center;
  margin-left: 8px;
}

.mobileFilters{
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding-left: 35px;
}

.openOptions{
  background-color: var(--purple)ent;
  border: none;
  cursor: pointer;
  padding: 3px 8px 0 0;
  margin-left: 15px;
  }

.openOptions:hover{
  color: var(--purple);
}

.transfersForm,
.airlinesForm{
    background-color: transparent;
    color: rgb(255, 255, 255);
}

input {
    display: none; 
  }
.listOptions{
    height: 40px;
    margin-left: 10px;
}
  
.labelAirlines, .labelTransfers {
    position: relative;
    padding-left: 25px; 
    margin-left: 20px;
    cursor: pointer;
    color: white;
  }
  
  .labelAirlines::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 21px;
    height: 21px;
    border: 1px solid white; 
    border-radius: 50%; 
    background-color: transparent; 
  }
  
  input:checked + .labelAirlines::after {
    content: '';
    position: absolute;
    left: -16px;
    top: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background-color: white; 
  }

  .labelTransfers::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: 21px;
    height: 21px;
    border: 1px solid white; 
    border-radius: 4px; 
    background-color: transparent; 
  }

  input:checked + .labelTransfers::after {
    content: '';
    position: absolute;
    left: -16px;
    top: 4px;
    width: 15px;
    height: 15px;
    background-image: url(../../assets/check.svg);
  }

h3{
    font-family: 700;
    font-size: 20px;
    color:  white;
}

.transfersForm{
    margin-bottom: 47px;
}

@media (min-width: 768px){
  .transfersForm,
  .airlinesForm{
      background-color: var(--lightlavender);
      border-radius: 10px;
      padding: 1px 18px 30px 18px;
  }

  .labelAirlines, .labelTransfers{
    color: var(--lavender);
  }
  .labelAirlines::before {
    
    border: 1px solid var(--purple); 
  }

  input:checked + .labelAirlines::after {
    background-color: var(--purple); 
  }
   
  .labelTransfers::before{
    border: 1px solid var(--purple); 
  }
    
  .mobileMenu{
    display: none;
  }

  .menu{
    display: block;
  }

  h3{
    color:  var(--purple);
  }
}

  @media (min-width: 430px){
    .mobileOpenBar{
      display: flex;
    }
  }